
h2, h3, h4, h5, h6, p, span {
    font-family: 'Roboto', sans-serif; 
}
/* h1, h2, h3, h4, h5, h6{
    margin: 10px 0;
} */
body {
    background: #0ffff8;
    display: flex;
    justify-content: center;
}
body .container {
    background: #fff;
    border: 1px solid #090909;
    padding: 20px;
}
h1.title{
    font-family: 'Poppins', sans-serif;
    text-align: center;
    margin: 10px 0 40px;
    color: #ff4055;
}
h2.subtitle {
    margin-bottom: 0!important;
}
h3.description {
    margin-top: 0px;
}
.inputs {
    margin: 40px 0 ;
}

.inputs form .content {
    width: 80%;
    background: #f9f9f9;
}
.inputs form .content {
    padding: 14px;
}
input[type="text"] {
    margin-bottom: 10px;
    text-align: end;

}
.inputs form .content .btn-send {
    background: #0e5361;
    color: #fff;
    margin-top: 14px;
    width: 100px;
    border-radius: 4px;
    font-weight: bold;
}
hr{
    margin-bottom: 24px;
}
/* form */
.item-alt-lar {display: flex;}
.item-alt-lar .alt-lar {width: 100px;}

select{width: 50px; text-align: end;}

.item-jan-por {display: flex;}
.item-jan-por .jan-porta{width: 200px;}

/* resultado */
.result h5{margin: 0; padding: 0;}